* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#timer {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#completed {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.images>img {
    border-radius: 8px;
    width: 30%;
}

.stars {
    font-size: 3rem;
}

.hidden {
    visibility: hidden;
    height: 0;
}

@media only screen and (min-width: 481px) {
    .images {
        height: 30%;
    }
    .images>img {
        width: 150px;
    }
}
